
      <nav>
          <img class="navbar-brand-dark" src="{{ ASSETS_ROOT }}/img/rptlogo1.png" style="float:left" width="90" height="90">
         <label class="logo">RPT SOCIETY</label>
         <ul>

            <li>
               <a href="#">Member
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                 <li ><a href="{% url 'registration' %}">Member Registration</a></li>
                  <li ><a href="{% url 'memberHistory' %}">Member History</a></li>
                  <li ><a href="{% url 'memberSearch' %}">Member Search</a></li>
               </ul>
            </li>
            <li>
               <a href="#">Seminar
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                   <li ><a href="{% url 'seminarRegistration' %}">Seminar Registration</a></li>
            <li ><a href="{% url 'addSeminar' %}">Add Seminar Details</a></li>
            <li ><a href="{% url 'ondayEnroll' %}">Seminar Onday Enroll</a></li>
                  </ul>
                  </li>
                  <li>
                     <a href="{% url 'roleAssign' %}">Add Role
<!--                     <i class="fas fa-caret-down"></i>-->
                     </a>
<!--                     <ul>-->
<!--                       <li ><a href="{% url 'roleAssign' %}">Role Assign</a></li>-->
<!--                        <li ><a href="{% url 'roleView' %}">Role View</a></li>-->
<!--                     </ul>-->
                  </li>
            <li><a href="{% url 'transfer' %}">Transfer</a></li>
            <li><a href="{% url 'refund' %}">Refund</a></li>

            <li>
                     <a href="#">Report
                     <i class="fas fa-caret-down"></i>
                     </a>
                     <ul>
                       <li ><a href="{% url 'reportMember' %}">Member Report</a></li>
                        <li ><a href="{% url 'reportSeminar' %}">Seminar Report</a></li>

                     </ul>

                  </li>

                       <li ><a href="{% url 'userScreen' %}">User Screen</a></li>



            <li><a href="#">View log</a></li>
             <li><a  href="{% url 'logout' %}">Logout</a></li>




         </ul>

      </nav>
      <section></section>


