 {% extends "layouts/base.html" %}
 {% include "home/messages.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main>

    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <STYLE>
                    H3 { text-align: center}
                    h3{font-style: bold; color: black}
</STYLE>
                    <h3 class="h8" >ADD USER DETAILS FORM</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
<form action="/addseminarFormData/"  method= "POST" enctype="multipart/form-data">


    {% csrf_token %}


 <div class="section section-md pt-3" style="padding-bottom:15px !important">
            <div class="container">
                <div class="row">
                    <div class="col-10 ">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <label for="exampleInputEmail6">Seminar ID</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="seminarid" id="seminarid" >
                            </div>

                            <div class="col-2">
                                <label for="exampleInputEmail6">Seminar Name</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="seminarname" id="seminarname" >
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>











        <div class="section section-md pt-3" style="padding-bottom:15px !important">
            <div class="container">
                <div class="row">
                    <div class="col-10 ">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <label for="exampleInputEmail6">Seminar Fee</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="seminarfee" id="seminarfee" >
                            </div>

                             <div class="col-2">
                                <label for="exampleInputEmail6">Seminar Date</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="seminardate" id="seminardate" >
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-md pt-3" style="padding-bottom:15px !important">
            <div class="container">

                <div class="row">
                   <div class="col-10 ">

                        <div class="row align-items-center">


                            <div class="col-2">
                                <label for="exampleInputEmail6">Country</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="country" id="country" >
                            </div>
                             <div class="col-2">
                                <label for="exampleInputEmail6">Location</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="seminarlocation" id="seminarlocation" >
                            </div>

                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-10 ">
                    <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">Submit</button>
                </div>
            </div>
        </div>
    </div>

        <!-- End of Section -->{% endblock content %}

    </main>
