{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <main>



        <div class="section section-md pb-0">

            <div class="container">


                <!-- Title -->
                <div class="row">
                    <div class="col">
                        <STYLE>
  H3 { text-align: center}
  h3{font-style: bold; color: black}
 </STYLE>

                        <h3 class="h8" >LOGIN PAGE</h3>
                    </div>
                </div>
                <!-- End of Title -->
            </div>
        </div>
        <div class="row">
<!--<form action="/customerFormData/"  method= "POST" enctype="multipart/form-data">-->

    {% csrf_token %}
        <!-- Section -->




    <div class="section section-md pt-3" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-5">

                        <div class="row align-items-center">

                            <div class="col">
                                 <label for="exampleInputEmail6" >User Name</label>
                                </div>
                                <div class="col">
                            <input type="text" class="form-control" name="username" id="username"  >
                            </div>

                             </div>
                       </div>
                    </div>
     </div>
                                </div>



                            <div class="section section-md pt-3" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-5 ">

                        <div class="row align-items-center">

                            <div class="col">
                                 <label for="exampleInputEmail6">Password</label>
                                </div>
                                <div class="col">
                            <input type="text" class="form-control" name="password" id="password" >
                            </div>

                             </div>
                       </div>
                    </div>
     </div>
                                </div>

                                    <div class="container">
     <div class="row">
                    <div class="col-6 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">Sign in</button>
                    </div>

     </div>
    </div>
        </div>
    </form>
        </div>
        <!-- End of Section -->{% endblock content %}

    </main>

