{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <main>



        <div class="section section-md pb-0">

            <div class="container">


                <!-- Title -->
                <div class="row">
                    <div class="col">
                        <STYLE>
  H3 { text-align: center}
  h3{font-style: bold; color: black}
 </STYLE>

                        <h3 class="h8" >Other Country Registration</h3>
                    </div>
                </div>
                <!-- End of Title -->
            </div>
        </div>
        <div class="row">
<!--<form action="/customerFormData/"  method= "POST" enctype="multipart/form-data">{% csrf_token %}-->
        <!-- Section -->




    <div class="section section-md pt-3" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">

                            <div class="col">
                                 <label for="exampleInputEmail6" >Team Leader Name</label>
                            <input type="text" class="form-control" name="tlname" id="tlname"  >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Team Leader Contact No</label>
                            <input type="text" class="form-control" name="tlcontactno" id="tlcontactno" >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Team Leader Location</label>
                            <input type="text" class="form-control" name="tllocation" id="tllocation" >
                            </div>

                             </div>
                       </div>
                    </div>
     </div>
                                </div>
            <div class="section section-md pt-3" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">

                            <div class="col">
                                 <label for="exampleInputEmail6" > Assistant Leader Name</label>
                            <input type="text" class="form-control" name="alname" id="alname"  >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Assistant Leader Contact No</label>
                            <input type="text" class="form-control" name="alcontactno" id="alcontactno" >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Assistant Leader Location</label>
                            <input type="text" class="form-control" name="allocation" id="allocation" >
                            </div>

                             </div>
                       </div>
                    </div>
     </div>
                                </div>
            <div class="section section-md pt-3" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">

                            <div class="col">
                                 <label for="exampleInputEmail6" >  Leader Name</label>
                            <input type="text" class="form-control" name="leadername" id="leadername" >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Leader Contact No</label>
                            <input type="text" class="form-control" name="leadercontactno" id="leadercontactno" >
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6"> Leader Location</label>
                            <input type="text" class="form-control" name="leaderlocation" id="leaderlocation" >
                            </div>

                             </div>
                       </div>
                    </div>
     </div>
                                </div>
             <div class="container">
     <div class="row">
                    <div class="col-12 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">Submit</button>
                    </div>

     </div>
    </div>
        </div>
    </form>
        </div>
        <!-- End of Section -->{% endblock content %}

    </main>











