{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <div class="section section-md pb-0">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col">
                        <h3 class="h5">REGISTRATION FORM</h3>
                    </div>
                </div>
                <!-- End of Title -->
            </div>
        </div>
        <div class="row">
<form action="/customerFormData/"  method= "POST">{% csrf_token %}
        <!-- Section -->

    <div class="section section-md pt-0" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-3 ">

                        <div class="row align-items-center">
                             <div class="col">
                                 <label for="exampleInputEmail6">Client ID</label>
                            <input type="text" class="form-control" name="client_id" id="client_id" autocomplete>
                            </div>
                        </div>
                   </div>
                </div>
 </div>
    </div>

    <div class="section section-md pt-0" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">First Name</label>
                            <input type="text" class="form-control" name="fname" id="firstname" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Last Name</label>
                            <input type="text" class="form-control" name="lname" id="lastname" required>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail6">Gender</label>
                                <select class="form-control" name="gender" id="gender">
                                    <option>Select</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>


                            <div class="col">
                                 <label for="exampleInputEmail6">Date Of Birth</label>
                            <input type="date" class="form-control" name="dob" id="DOB" required>
                            </div>
                            </div>
                       </div>
                    </div>
     </div>


            <div class="section pt-3" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Education</label>
                            <input type="text" class="form-control" name="education" id="education" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Profession</label>
                            <input type="text" class="form-control" name="profession" id="profession" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Company/College Name</label>
                            <input type="text" class="form-control" name="company_college_name" id="company_college_name" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Job/College location</label>
                            <input type="text" class="form-control" name="job_college_location" id="job_college_location" required>
                            </div>
                        </div>
                    </div>
         </div>
    </div>
            </div>
             <div class="section pt-6" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">House/Block No</label>
                            <input type="text" class="form-control" name="house_block_no"id="house_block_no" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Street Name</label>
                            <input type="text" class="form-control" name="street_name"id="street_name" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Town/City</label>
                            <input type="text" class="form-control" name="town_city"id="town_city" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">District</label>
                            <input type="text" class="form-control" name="district"id="district" required>
                            </div>
                            </div>
                    </div>
         </div>
    </div>
            </div>

            <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">State</label>
                            <input type="text" class="form-control" name="state"id="state" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Country</label>
                            <input type="text" class="form-control" name="country"id="country" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Postal Code</label>
                            <input type="text" class="form-control" name="postal_code"id="postal_code" required>
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Email ID</label>
                            <input type="text" class="form-control" name="email_id"id="email_id" required>
                            </div>
                            </div>
                    </div>
         </div>
    </div>
            </div>

            <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Contact Number</label>
                            <input type="text" class="form-control" name="contact_number"id="contact_number" required>
                            </div>
                            <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6">Upload Photo</label>
                                <input type="file" class="form-control" name="photo_upload" id="photo_upload" required>

                            </div>
                        </div>
                    </div>
     </div>
</div>
            </div>

            <div class="section pt-6" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Aadhar Number</label>
                            <input type="text" class="form-control" name="aadhar_number" id="aadhar_number" required>
                            </div>
                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">Aadhar ID Proof</label>
                                <input type="file" class="form-control" name=aadhar_upload id="aadhar_upload" required>
                            </div>
                        </div>
                    </div>
     </div>
</div>
            </div>
                <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Driving License Number</label>
                            <input type="text" class="form-control" name="drivinglicense_number" id="drivinglicense_number"required>
                            </div>
                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">Driving License IDproof</label>
                                <input type="file" class="form-control" name="drivinglicense_upload" id="drivinglicense_upload" required>
                            </div>
                        </div>
                    </div>
     </div>
</div>
                </div>

                    <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">VoterID</label>
                            <input type="text" class="form-control" name="voter_id" id="voter_id" required>
                            </div>
                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">VoterID Proof</label>
                                <input type="file" class="form-control" name="voterid_upload" id="voterid_upload" required>
                            </div>
                        </div>
                    </div>
     </div>
</div>
                    </div>
                        <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Passport Number</label>
                            <input type="text" class="form-control" name="passport_number"id="passport_number" required>
                            </div>

                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">Passport Proof</label>
                                <input type="file" class="form-control" name="passport_upload" id="passport_upload" required>
                            </div>
                        </div>
                    </div>
     </div>
</div>
                        </div>
                            <div class="section pt-0" style="padding-bottom:15px !important">
                                <div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Pan Number</label>
                            <input type="text" class="form-control" name="pan_number"id="pan_number">
                            </div>

                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">Pancard Proof</label>
                                <input type="file" class="form-control" name="pancard_upload" id="pancard_upload" >
                            </div>
                        </div>
                    </div>
     </div>
</div>
                            </div>
                                <div class="section pt-0" style="padding-bottom:15px !important">
                                    <div class="container">
     <div class="row">
                    <div class="col-6 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Rationcard Number</label>
                            <input type="text" class="form-control" name="rationcard_number"id="rationcard_number">
                            </div>

                            <div class="col">
                                <label class="custom-file-label" for="exampleInputEmail6">Rationcard Proof</label>
                                <input type="file" class="form-control" name="rationcard_upload" id="rationcard_upload" >
                            </div>
                        </div>
                    </div>
     </div>
</div>
                                </div>

                                    <div class="container">
     <div class="row">
                    <div class="col-12 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">Submit</button>
                    </div>

     </div>
    </div>
        </div>
    </form>
        </div>
        <!-- End of Section -->{% endblock content %}

    </main>











