{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <main>



        <div class="section section-md pb-0">

            <div class="container">


                <!-- Title -->
                <div class="row">
                    <div class="col">
                        <STYLE>
  H3 { text-align: center}
  h3{font-style: bold; color: black}
 </STYLE>

                        <h3 class="h8" >ROLE BASED GRID</h3>
                    </div>
                </div>
                <!-- End of Title -->
            </div>
        </div>
        <div class="row">
<!--<form action="/customerFormData/"  method= "POST" enctype="multipart/form-data">-->
    {% csrf_token %}
        <!-- Section -->

<div class="col-10 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">Add role</button>
                    </div>



    <div class="section section-md pt-6" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">

                            <div class="col">
                                <style>
table, th, td {
  border:2px solid black;


  height: 40px;
  width: 80px;
  text-align: center;
  vertical-align: middle;

}
</style>
                             <table style="width:100%">


  <tr>

    <th>S.No</th>
    <th>Name</th>
    <th>Role</th>
      <th>Edit/Delete</th>

  </tr>
  <tr>
     <td style="height: 1.3em; padding: 4px 6px;"></td>
      <td></td>
      <td></td>

    <td>
      <a  href="#"style="color: #4d88ff">edit</a> /
        <a  href="#"style="color: #4d88ff">delete</a>
    </td>
  </tr>
  <tr>
    <td style="height: 1.3em; padding: 4px 6px;"></td>
        <td ></td>
    <td></td>


    <td>
        <a  href="#"style="color: #4d88ff">edit</a> /
        <a  href="#"style="color: #4d88ff">delete</a>
    </td>
  </tr>
</table>
                                    </div>
                             </div>
                       </div>
                    </div>
     </div>
                                </div>

    </div>
        </div>
    </form>
        </div>
        <!-- End of Section -->{% endblock content %}

    </main>
