{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>


    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h3 class="h5">Seminar Registration Form</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/updateSeminarRegistrationData/{{data.regid }}" method="POST">{% csrf_token %}
            <!-- Section -->
<input name="created_date" type="hidden" value="{{data.created_date |date:'Y-m-d'}}">
            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Reg ID</label>
                                    <input type="text" class="form-control" name="regid" id="regid"
                                           value="{{data.regid}}" readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Member ID</label>
                                    <input type="text" class="form-control" name="member_id" id="member_id"
                                         value="{{data.member_id}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar ID</label>

                                    <input type="text" class="form-control" name="seminarid" id="seminarid"
                                         value="{{data.seminarid}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Name</label>

                                    <input type="text" class="form-control" name="seminarname" id="seminarname"
                                         value="{{data.seminarname}}"  readonly="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Fee</label>
                                    <input type="text" class="form-control" name="seminarfee" id="seminarfee"
                                           value="{{data.seminarfee}}" readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Date</label>
                                    <input type="text" class="form-control" name="seminardate" id="seminardate"
                                         value="{{data.seminardate}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Country</label>

                                    <input type="text" class="form-control" name="country" id="country"
                                         value="{{data.country}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Location</label>

                                    <input type="text" class="form-control" name="seminarlocation" id="seminarlocation"
                                         value="{{data.seminarlocation}}"  readonly="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

               <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Introducer</label>
                                    <input type="text" class="form-control" name="introducer" id="introducer"
                                           value="{{data.introducer}}" readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Team Leader</label>
                                    <input type="text" class="form-control" name="team_leader" id="team_leader"
                                         value="{{data.team_leader}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Assistant Leader</label>

                                    <input type="text" class="form-control" name="assistant_leader" id="assitant_leader"
                                         value="{{data.assistant_leader}}"  readonly="true">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Leader</label>

                                    <input type="text" class="form-control" name="leader" id="leader"
                                         value="{{data.leader}}"  readonly="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

               <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Payment Date</label>
                                    <input type="text" class="form-control" name="payment_date" id="payment_date"
                                          value="{{data.payment_date}}" readonly="true" >
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Payment </label>
                                    <input type="text" class="form-control" name="payment" id="payment"
                                          value="{{data.payment}}" readonly="true" >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Balance</label>
                                    <input type="text" class="form-control" name="balance"
                                           id="balance" value="{{data.balance}}" readonly="true" >
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Payment Status</label>
                                    <input type="text" class="form-control" name="payment_status" id="payment-status"
                                           value="{{data.payment_status}}" readonly="true" >
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!--            <div class="section pt-5" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Payment</label>-->
<!--                                    <input type="text" class="form-control" name="payment" id="payment"-->
<!--                                          value="{{data.payment}}" readonly="true" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="first_payment_date" id="payment-date"-->
<!--                                            value="{{data.first_payment_date|date:'Y-m-d' }}" readonly="true" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Second Payment</label>-->
<!--                                    <input type="text" class="form-control" name="second_payment" id="second-payment"-->
<!--                                           value="{{data.second_payment}}" readonly="true" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Second Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="second_payment_date" id="second-payment-date"-->
<!--                                           value="{{data.second_payment_date|date:'Y-m-d' }}" readonly="true" >-->

<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="section pt-0" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Third Payment</label>-->
<!--                                    <input type="text" class="form-control" name="third_payment" id="third-payment"-->
<!--                                           value="{{data.third_payment}}" readonly="true" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Third Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="third_payment_date" id="third-payment-date"-->
<!--                                           value="{{data.third_payment_date|date:'Y-m-d' }}" readonly="true" >-->

<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Fourth Payment</label>-->
<!--                                    <input type="text" class="form-control" name="fourth_payment" id="fourth-payment"-->
<!--                                           value="{{data.fourth_payment}}" readonly="true" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Fourth Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="fourth_payment_date" id="fourth-payment-date"-->
<!--                                           value="{{data.fourth_payment_date|date:'Y-m-d' }}" readonly="true" >-->

<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->





<!--            <div class="section pt-5" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Introducer</label>-->
<!--                                    <input class="form-control" list="intrdcr" name="introducer" id="introducer" value="{{data.introducer}}" readonly="true">-->

<!--                                    <datalist  id="intrdcr">-->
<!--                                        <option value="introducer1">-->
<!--                                        <option value="introducer2">-->
<!--                                        <option value="introducer3">-->
<!--                                    </datalist>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <label class="custom-file-label" for="exampleInputEmail6">Team Leader</label>-->
<!--                                    <input class="form-control" list="tleaders" name="team_leader" id="teamleader" value="{{data.team_leader}}" readonly="true">-->

<!--                                    <datalist  id="tleaders">-->
<!--                                        <option value="Team leader1">-->
<!--                                        <option value="Team leader2">-->
<!--                                        <option value="Team leader3">-->
<!--                                    </datalist>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <label class="custom-file-label" for="exampleInputEmail6">Assistant Leader</label>-->
<!--                                    <input class="form-control" list="assldrs" name="assistant_leader" id="assistantleader" value="{{data.assistant_leader}}" readonly="true">-->

<!--                                    <datalist  id="assldrs">-->
<!--                                        <option value="assistant leader1">-->
<!--                                        <option value="assistant leader2">-->
<!--                                        <option value="assistant leader3">-->
<!--                                    </datalist>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <label class="custom-file-label" for="exampleInputEmail6"> Leader</label>-->
<!--                                    <input class="form-control" list="ldrs" name="leader" id="leader" value="{{data.leader}}" readonly="true">-->

<!--                                    <datalist  id="ldrs">-->
<!--                                        <option value="leader1">-->
<!--                                        <option value="leader2">-->
<!--                                        <option value="leader3">-->
<!--                                    </datalist>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button class="btn btn-primary" id="editSeminar" type="button">Edit Seminar Details</button>
                        <button class="btn btn-primary" id="" type="button" onclick="location.href='{% url 'registration' %}'">New  Registration</button>
                        <button class="btn btn-primary" id="updateSeminar" style="display:none" type="submit">Update Seminar Details
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </form>
    </div>


</main>
{% endblock content %}











