{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>


    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h3 class="h5">Seminar Registration Form</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/updateSeminarRegistrationData/{{data.regid}}" method="POST">{% csrf_token %}
            <!-- Section -->

            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Reg ID</label>
                                    <input type="text" class="form-control" name="regid" id="regid"
                                           value="{{data.regid}}" readonly>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Client ID</label>
                                    <input type="text" class="form-control" name="clientid" id="clientid"
                                         value="{{data.clientid}}"  readonly>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar ID</label>

                                    <select class="form-control" name="payirchiid" id="payirchi-id">
                                        <option>Select</option>
                                        <option {% if data.payirchiid == '1' %} selected {% endif %} >1</option>
                                        <option {% if data.payirchiid == '2' %} selected {% endif %} >2</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Name</label>

                                    <select class="form-control" name="payirchiname" id="payirchi-name">
                                        <option>Select</option>
                                        <option {% if data.payirchiname == 'Yogic Power' %} selected {% endif %} >Yogic Power</option>
                                        <option {% if data.payirchiname == 'Vishudhi' %} selected {% endif %}  >Vishudhi</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">First Payment</label>
                                    <input type="text" class="form-control" name="first_payment" id="first-payment"
                                          value="{{data.first_payment}}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">First Payment Date</label>
                                    <input type="date" class="form-control" name="first_payment_date" id="first-payment-date"
                                            value="{{data.first_payment_date|date:'Y-m-d' }}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Second Payment</label>
                                    <input type="text" class="form-control" name="second_payment" id="second-payment"
                                           value="{{data.second_payment}}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Second Payment Date</label>
                                    <input type="date" class="form-control" name="second_payment_date" id="second-payment-date"
                                           value="{{data.second_payment_date|date:'Y-m-d' }}" readonly required>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Third Payment</label>
                                    <input type="text" class="form-control" name="third_payment" id="third-payment"
                                           value="{{data.third_payment}}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Third Payment Date</label>
                                    <input type="date" class="form-control" name="third_payment_date" id="third-payment-date"
                                           value="{{data.third_payment_date|date:'Y-m-d' }}" readonly required>

                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Fourth Payment</label>
                                    <input type="text" class="form-control" name="fourth_payment" id="fourth-payment"
                                           value="{{data.fourth_payment}}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Fourth Payment Date</label>
                                    <input type="date" class="form-control" name="fourth_payment_date" id="fourth-payment-date"
                                           value="{{data.fourth_payment_date|date:'Y-m-d' }}" readonly required>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-9 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Total</label>
                                    <input type="text" class="form-control" name="total" id="total"
                                          value="{{data.total}}" readonly required>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Balance</label>
                                    <input type="text" class="form-control" name="balance"
                                           id="balance" value="{{data.balance}}" readonly required>
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Payment Status</label>
                                    <input type="text" class="form-control" name="payment_status" id="payment-status"
                                           value="{{data.payment_status}}" readonly required>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Introducer</label>
                                    <input class="form-control" list="browsers" name="introducer" id="introducer">

                                    <datalist  id="introducer">
                                        <option value="ABC">
                                        <option value="XYZ">
                                        <option value="Kanniga">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6">Team Leader</label>
                                    <input class="form-control" list="browsers" name="team_leader" id="teamleader">

                                    <datalist  id="teamleader">
                                        <option value="Swathi">
                                        <option value="Vijay">
                                        <option value="Anu">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6">Assistant Leader</label>
                                    <input class="form-control" list="browsers" name="assistant_leader" id="assistantleader">

                                    <datalist  id="assistantleader">
                                        <option value="Archana">
                                        <option value="ABC">
                                        <option value="XYZ">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6"> Leader</label>
                                    <input class="form-control" list="browsers" name="leader" id="leader">

                                    <datalist  id="leader">
                                        <option value="Swathi">
                                        <option value="Kanniga">
                                        <option value="Vijay">
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button class="btn btn-primary" id="" type="button">Edit</button>
                        <button class="btn btn-primary" id="" type="button" onclick="location.href='{% url 'registration' %}'">New Client Registration</button>
                        <button class="btn btn-primary" id="" style="display:none" type="submit">Update
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End of Section -->{% endblock content %}

</main>











