{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>


    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h3 class="h5">Seminar Registration Form</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/seminarRegistrationDataSave/" method="POST">{% csrf_token %}
            <!-- Section -->

            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Reg ID</label>
                                    <input type="text" class="form-control" name="regid" id="regid"
                                          value="{{regid}}" readonly>
                                </div>
                                <div class="col">
                                     <label for="exampleInputEmail6" >Member ID</label>
                           <input class="form-control" id="member_id" name="member_id"  type="text"
                                       value="{{memid}}" >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar ID</label>
                                    <select class="form-control" name="seminarid" id="seminarid" >
                                     {% for i in mydata %}
                                     <option value="{{i.seminarid}}">{{i.seminarid}}</option>
                                     {%endfor%}
                                </select>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Name</label>

                                    <select class="form-control" name="seminarname" id="seeminarname">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarname}}">{{i.seminarname}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                           <div class="col">
                                    <label for="exampleInputEmail6">Seminar Fee</label>
                               <select class="form-control" name="seminarfee" id="seminarfee" onchange="updateDue()">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarfee}}">{{i.seminarfee}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                            <div class="col">
                                    <label for="exampleInputEmail6">Seminar Date</label>
<!--<input type=date class="form-control"  name="seminardate" id="seminardate" >-->

                                    <select class="form-control" name="seminardate" id="seminardate">
                                      {% for i in semdate %}
                                     <option value="{{i.value}} ">{{i.value}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                              <div class="col">
                                <label for="exampleInputEmail6">Seminar Country</label>
                                  <select class="form-control" name="country" id="country" >
                                    <option>Select</option>
                                    <option>India</option>
                                    <option>London</option>
                                    <option>Malaysia</option>
                                    <option>Singapore</option>
                                </select>
                            </div>
                             <div class="col">
                                    <label for="exampleInputEmail6">Seminar Location</label>

                                    <select class="form-control" name="seminarlocation" id="seminarlocation">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarlocation}}">{{i.seminarlocation}}</option>
                                     {%endfor%}

                                    </select>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


             <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                               <div class="col">
                                    <label for="exampleInputEmail6">Introducer</label>
                                    <input type="text" class="form-control" name="introducer" id="introducer">
                                </div>
                                 <div class="col">
                                    <label for="exampleInputEmail6">Team Leader</label>

                                    <select class="form-control" name="team_leader" id="team_leader">
                                      {% for i in tldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Assistant Leader</label>

                                    <select class="form-control" name="assistant_leader" id="assistant_leader">
                                      {% for i in aldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Leader</label>

                                    <select class="form-control" name="leader" id="leader">
                                      {% for i in ldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






<div class="section section-md pt-4" style="padding-bottom:15px !important">
             <div class="container">
                 <div class="row">
                     <div class="col-12 ">
                         <div class="row align-items-center">
                             <div class="col">

                                  <style>
                                 table, th, td {
                                 border:1px solid black;
                                 height: 50px;
                                 width: 90px;
                                 text-align: center;
                                 vertical-align: middle;
                                 }
</style>



                               <script type="text/javascript">
function addRows(){
	var table = document.getElementById('pmttbl');
	var rowCount = table.rows.length;
	var cellCount = table.rows[0].cells.length;
	var row = table.insertRow(rowCount);
	for(var i =0; i <= cellCount; i++){
		var cell = 'cell'+i;
		cell = row.insertCell(i);
		var copycel = document.getElementById('col'+i).innerHTML;
		cell.innerHTML=copycel;
var seminarfee = parseInt(document.getElementById("seminarfee").value);
    var payment = parseInt(document.getElementById("payment").value);

    // to make sure that they are numbers
    if (!seminarfee) { seminarfee = 0; }
    if (!payment) { payment = 0; }

    var balance = document.getElementById("balance");
    var balance= seminarfee - payment;


  document.getElementById('balance').value = balance;

  var status;
  if (balance == 0) {
    status = "Completed";
  }
  else {
    status = "Partial Completed";
  }

document.getElementById('payment_status').textContent = status;

console.log(balance);

console.log(status);

	}
}
function deleteRows(){
	var table = document.getElementById('pmttbl');
	var rowCount = table.rows.length;
	if(rowCount > '2'){
		var row = table.deleteRow(rowCount-1);
		rowCount--;
	}
	else{
		alert('There should be atleast one row');
	}
}

function updateDue() {
 var seminarfee = parseInt(document.getElementById("seminarfee").value);
    var payment = parseInt(document.getElementById("payment").value);

    // to make sure that they are numbers
    if (!seminarfee) { seminarfee = 0; }
    if (!payment) { payment = 0; }

    var balance = document.getElementById("balance");
    var balance= seminarfee - payment;


  document.getElementById('balance').value = balance;

   var payment_status = "";
            if (balance === 0) {
                payment_status = "Paid";
            } else if (balance > 0) {
                payment_status = "Partial Payment";
            } else {
                payment_status = "Unpaid";
            }


document.getElementById('payment_status').value = payment_status;

console.log(balance);

console.log(payment_status);


   }
</script>












	<table id="pmttbl"style="width:100%">
		<tr>
			<th>Payment Date</th>
			<th>Payment Amount</th>

            <th>Balance</th>
            <th>Payment Status</th>
            <th>Action</th>

		</tr>
		<tr>
			<td id="col0"><input type="date" class="form-control" name="payment_date" id="" /></td>
			<td id="col1"><input type="text" class="form-control" name="payment" id="payment" onchange="updateDue()"/>


         <td id="col3"><input type="text" class="form-control" name="balance" id="balance" onchange="updateDue()"/></td>

            <td id="col4"><input type="text" class="form-control" name="payment_status" id="payment_status"/></td>





            <td>
            <i class="fas fa-plus-circle" onclick="addRows()"/>
                <i class="fas fa-minus-circle" onclick="deleteRows()"/>

</td>

      </tr>
    </table>
<!--<input type="button" value="Add Payment" onclick="addRows()" />-->
<!--<input type="button" value="Delete Row" onclick="deleteRows()" />-->
<!--<td id ="col2"><input type="button" value="Add Payment" onclick="addRows()" /></td>-->
<!--<td><input type="button" value="Delete Row" onclick="deleteRows()" /></td>-->

	</table>








            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End of Section -->{% endblock content %}

</main>











