{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>


    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h3 class="h5">Seminar Registration Form</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/seminarRegistrationDataSave/" method="POST">{% csrf_token %}
            <!-- Section -->

            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Reg ID</label>
                                    <input type="text" class="form-control" name="regid" id="regid"
                                          value="{{regid}}" readonly>
                                </div>
                                <div class="col">
                                     <label for="exampleInputEmail6" >Member ID</label>
                           <input class="form-control" id="member_id" name="member_id"  type="text"
                                       value="{{data.member_id}}" >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar ID</label>
                                    <select class="form-control" name="seminarid" id="seminarid" >
                                     {% for i in mydata %}
                                     <option value="{{i.seminarid}}">{{i.seminarid}}</option>
                                     {%endfor%}
                                </select>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Name</label>

                                    <select class="form-control" name="seminarname" id="seeminarname">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarname}}">{{i.seminarname}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                           <div class="col">
                                    <label for="exampleInputEmail6">Seminar Fee</label>

                                    <select class="form-control" name="seminarfee" id="seeminarfee">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarfee}}">{{i.seminarfee}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                            <div class="col">
                                    <label for="exampleInputEmail6">Seminar Date</label>

                                    <select class="form-control" name="seminardate" id="seminardate">
                                      {% for i in mydata %}
                                     <option value="{{i.seminardate}}">{{i.seminardate}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                              <div class="col">
                                <label for="exampleInputEmail6">Seminar Country</label>
                                  <select class="form-control" name="country" id="country" >
                                    <option>Select</option>
                                    <option>India</option>
                                    <option>London</option>
                                    <option>Malaysia</option>
                                    <option>Singapore</option>
                                </select>
                            </div>
                             <div class="col">
                                    <label for="exampleInputEmail6">Seminar Location</label>

                                    <select class="form-control" name="seminarlocation" id="seminarlocation">
                                      {% for i in mydata %}
                                     <option value="{{i.seminarlocation}}">{{i.seminarlocation}}</option>
                                     {%endfor%}

                                    </select>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


             <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                               <div class="col">
                                    <label for="exampleInputEmail6">Introducer</label>
                                    <input type="text" class="form-control" name="introducer" id="introducer">
                                </div>
                                 <div class="col">
                                    <label for="exampleInputEmail6">Team Leader</label>

                                    <select class="form-control" name="team_leader" id="team_leader">
                                      {% for i in tldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Assistant Leader</label>

                                    <select class="form-control" name="assistant_leader" id="assistant_leader">
                                      {% for i in aldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Leader</label>

                                    <select class="form-control" name="leader" id="leader">
                                      {% for i in ldata %}
                                     <option value="{{i.name}}">{{i.name}}</option>
                                     {%endfor%}

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






<div class="section section-md pt-4" style="padding-bottom:15px !important">
             <div class="container">
                 <div class="row">
                     <div class="col-12 ">
                         <div class="row align-items-center">
                             <div class="col">

                                  <style>
                                 table, th, td {
                                 border:1px solid black;
                                 height: 50px;
                                 width: 90px;
                                 text-align: center;
                                 vertical-align: middle;
                                 }
</style>
                               <script type="text/javascript">
function addRows(){
	var table = document.getElementById('pmttbl');
	var rowCount = table.rows.length;
	var cellCount = table.rows[0].cells.length;
	var row = table.insertRow(rowCount);
	for(var i =0; i <= cellCount; i++){
		var cell = 'cell'+i;
		cell = row.insertCell(i);
		var copycel = document.getElementById('col'+i).innerHTML;
		cell.innerHTML=copycel;

	}
}
function deleteRows(){
	var table = document.getElementById('pmttbl');
	var rowCount = table.rows.length;
	if(rowCount > '2'){
		var row = table.deleteRow(rowCount-1);
		rowCount--;
	}
	else{
		alert('There should be atleast one row');
	}
}
</script>

	<table id="pmttbl"style="width:100%">
		<tr>
			<th>Payment Date</th>
			<th>Payment Amount</th>
            <th>Total</th>
            <th>Balance</th>
            <th>Payment Status</th>

		</tr>
		<tr>
			<td id="col0"><input type="date" class="form-control"name="first_payment_date" id="" /></td>
			<td id="col1"><input type="text" class="form-control" name="first_payment" id=""/></td>
            <td id="col2"><input type="text" class="form-control" name="total" id="total"/></td>
            <td id="col3"><input type="text" class="form-control" name="balance" id="balance" /></td>
            <td id="col4"><input type="text" class="form-control" name="payment_status" id="payment_status"/></td>
      </tr>
    </table>
<input type="button" value="Add Payment" onclick="addRows()" />
<input type="button" value="Delete Row" onclick="deleteRows()" />
<!--<td id ="col2"><input type="button" value="Add Payment" onclick="addRows()" /></td>&ndash;&gt;-->
<!--<td><input type="button" value="Delete Row" onclick="deleteRows()" /></td>-->

<!--	</table>-->
<!--&lt;!&ndash;	<table>&ndash;&gt;-->
<!--&lt;!&ndash;		<tr>&ndash;&gt;-->
<!--			<input type="button" value="Add Payment" onclick="addRows()" />-->
<!--<input type="button" value="Delete " onclick="deleteRows()" />-->
<!--&lt;!&ndash;			<td><input type="submit" value="Submit" /></td>&ndash;&gt;-->
<!--		</tr>-->
	</table>












<!--                        <div class="section pt-5" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">First Payment</label>-->
<!--                                    <input type="text" class="form-control" name="first_payment" id="first-payment"-->
<!--                                           >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">First Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="first_payment_date"-->
<!--                                           id="first-payment-date" >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Second Payment</label>-->
<!--                                    <input type="text" class="form-control" name="second_payment" id="second-payment"-->
<!--                                           >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Second Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="second_payment_date"-->
<!--                                           id="second-payment-date" >-->

<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="section pt-0" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Third Payment</label>-->
<!--                                    <input type="text" class="form-control" name="third_payment" id="third-payment"-->
<!--                                           >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Third Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="third_payment_date"-->
<!--                                           id="third-payment-date" >-->

<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Fourth Payment</label>-->
<!--                                    <input type="text" class="form-control" name="fourth_payment" id="fourth-payment"-->
<!--                                           >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Fourth Payment Date</label>-->
<!--                                    <input type="date" class="form-control" name="fourth_payment_date"-->
<!--                                           id="fourth-payment-date" >-->

<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="section pt-5" style="padding-bottom:15px !important">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-9 ">-->

<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Total</label>-->
<!--                                    <input type="text" class="form-control" name="total" id="total"-->
<!--                                           >-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Balance</label>-->
<!--                                    <input type="text" class="form-control" name="balance"-->
<!--                                           id="balance" >-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <label for="exampleInputEmail6">Payment Status</label>-->
<!--                                    <input type="text" class="form-control" name="payment_status" id="payment-status"-->
<!--                                           >-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->




            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End of Section -->{% endblock content %}

</main>











