{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>


    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h3 class="h5">Seminar Registration Form</h3>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/seminarRegistrationDataSave/" method="POST">{% csrf_token %}
            <!-- Section -->

            <div class="section section-md pt-0" style="padding-bottom:15px !important">
                <div class="container">

                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Reg ID</label>
                                    <input type="text" class="form-control" name="regid" id="regid"
                                          value="{{regid}}" readonly>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Client ID</label>
                                    <input type="text" class="form-control" name="clientid" id="clientid"
                                           readonly>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar ID</label>

                                    <select class="form-control" name="payirchiid" id="payirchi-id">
                                        <option>Select</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Seminar Name</label>

                                    <select class="form-control" name="payirchiname" id="payirchi-name">
                                        <option>Select</option>
                                        <option>Yogic Power</option>
                                        <option>Vishudhi</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">First Payment</label>
                                    <input type="text" class="form-control" name="first_payment" id="first-payment"
                                           >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">First Payment Date</label>
                                    <input type="date" class="form-control" name="first_payment_date"
                                           id="first-payment-date" >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Second Payment</label>
                                    <input type="text" class="form-control" name="second_payment" id="second-payment"
                                           >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Second Payment Date</label>
                                    <input type="date" class="form-control" name="second_payment_date"
                                           id="second-payment-date" >

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Third Payment</label>
                                    <input type="text" class="form-control" name="third_payment" id="third-payment"
                                           >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Third Payment Date</label>
                                    <input type="date" class="form-control" name="third_payment_date"
                                           id="third-payment-date" >

                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Fourth Payment</label>
                                    <input type="text" class="form-control" name="fourth_payment" id="fourth-payment"
                                           >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Fourth Payment Date</label>
                                    <input type="date" class="form-control" name="fourth_payment_date"
                                           id="fourth-payment-date" >

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-9 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Total</label>
                                    <input type="text" class="form-control" name="total" id="total"
                                           >
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Balance</label>
                                    <input type="text" class="form-control" name="balance"
                                           id="balance" >
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Payment Status</label>
                                    <input type="text" class="form-control" name="payment_status" id="payment-status"
                                           >
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section pt-5" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Introducer</label>
                                    <input class="form-control" list="intrdcr" name="introducer" id="intro">

                                    <datalist id="intrdcr">
                                         <option value="ABC">
                                        <option value="XYZ">
                                        <option value="Kanniga">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6">Team Leader</label>
                                    <input list="tleaders" class="form-control" name="team_leader" id="tleader">

                                    <datalist id="tleaders">
                                        <option value="Swathi">
                                        <option value="Vijay">
                                        <option value="Anu">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6">Assistant Leader</label>
                                    <input class="form-control" list="assldrs" name="assistant_leader"
                                           id="assistantleader">

                                    <datalist id="assldrs">
                                        <option value="Archana">
                                        <option value="ABC">
                                        <option value="XYZ">
                                    </datalist>
                                </div>

                                <div class="col">
                                    <label class="custom-file-label" for="exampleInputEmail6"> Leader</label>
                                    <input class="form-control" list="ldrs" name="leader" id="leader">

                                    <datalist id="ldrs">
                                       <option value="Swathi">
                                        <option value="Kanniga">
                                        <option value="Vijay">
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button type="submit" id="submitButton" class="btn btn-primary" style="float:right !important">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </form>
    </div>
    <!-- End of Section -->{% endblock content %}

</main>











