{% extends "layouts/base.html" %}
{% block title %} UI Forms {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main>
    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <STYLE>
                    H3 { text-align: center}
                    h3{font-style: bold; color: black}
 </STYLE>
                    <h3 class="h8" >TRANSFER SCREEN</h3>
                </div>
            </div>
                <!-- End of Title -->
        </div>
    </div>
    <div class="row">
<form action="/searchtransfer/"  method= "POST" enctype="multipart/form-data">
    {% csrf_token %}
        <!-- Section -->
        <div class="section section-md pt-3" style="padding-bottom:15px !important">
            <div class="container">
                <div class="row">
                   <div class="col-10 ">
                       <div class="row align-items-center">
                           <div class="col">
                               <label for="exampleInputEmail6" >Search Input</label>
                           </div>
                           <div class="col">
                               <select class="form-control" name="transferdrop" id="transferdrop" >
                                   <option>Select</option>
                                    <option value="fname">Firstname </option>
                                        <option value="idnumber">ID Number</option>
                                        <option value="payirchiname">Seminar Name</option>
                                        <option value="payrichiid">Seminar ID</option>
                                        <option value="leader">Leader</option>
                                        <option value="assistant_leader">Assistant Leader</option>
                                        <option value="team_leader">Team Leader</option>

                               </select>
                           </div>
                           <div class="col">
                               <input type="text" class="form-control" name="transferinput" id="transferinput" >
                           </div>
                           <div class="col ">
                               <button type="submit" id="transfersearchbutton" class="btn btn-primary" style="float:right !important">Search</button>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="section section-md pt-6" style="padding-bottom:15px !important">
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="row align-items-center">
                            <div class="col">
                              <style>
                                 table, th, td {
                                 border:1px solid black;
                                 height: 50px;
                                 width: 90px;
                                 text-align: center;
                                 vertical-align: middle;
                                 }
</style>
                                 <table style="width:100%">

                                     <tr>
                                         <th>S.No</th>
                                         <th>First Name</th>
                                         <th>Gender</th>
                                         <th>ID Number</th>
                                         <th>Seminar Name</th>
                                      </tr>
                                       {% for i in data %}

                                     <tr>
                                         <td>{{i.id}}</td>
                                         <td>{{i.fname}}</td>
                                         <td>{{i.gender}}</td>
                                          <td>{{i.idnumber}}</td>
                                         <td>{{i.payirchiname}}</td>

                                         <td>
                                              <div class="col-12 ">
                                                 <button type="button" id="viewrole" class="btn btn-primary" >Transfer</button>

                                             </div>
                                         </td>

                                         </tr>



                                     {%endfor%}
                                       </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
    <!-- End of Section -->{% endblock content %}
</main>





