{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    <div class="section section-md pb-0">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h2 class="h5"></h2>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    </div>
    <div class="row">
        <form action="/update_client_data/{{data.client_uniqueid}}" method="POST">{% csrf_token %}
            <!-- Section -->
            <input name="client_uniqueid" type="hidden" value="{{data.client_uniqueid}}">
            <div class="container">

                <div class="row">
                    <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                <label for="exampleInputEmail6">First Name</label>
                                <input class="form-control" id="firstname" name="fname" readonly required type="text"
                                       value="{{data.fname}}">
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail6">Last Name</label>
                                <input class="form-control" id="lastname" name="lname" readonly required type="text"
                                       value="{{data.lname}}">
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail6">Gender</label>
                                <select class="form-control" id="gender" name="gender" readonly>
                                    <option >Select</option>
                                    <option {% if data.gender == 'Male' %} selected {% endif %} >Male</option>
                                    <option {% if data.gender == 'Female' %} selected {% endif %}>Female</option>
                                </select>
                            </div>


                            <div class="col">
                                <label for="exampleInputEmail6">Date Of Birth</label>
                                <input class="form-control" id="DOB" name="dob" readonly required type="date"
                                       value="{{data.dob|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="exampleInputEmail6">Aadhar Number</label>
                                    <input class="form-control" id="aadhar_number" name="aadhar_number" readonly required
                                           type="text" value="{{data.aadhar_number}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Driving License Number</label>
                                    <input class="form-control" id="drivinglicense_number" name="drivinglicense_number"
                                          readonly  required type="text" value="{{data.drivinglicense_number}}">
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">VoterID</label>
                                    <input class="form-control" id="voter_id" name="voter_id" required type="text"
                                         readonly   value="{{data.voter_id}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Passport Number</label>
                                    <input class="form-control" id="passport_number" name="passport_number" required
                                         readonly  type="text" value="{{data.passport_number}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">

                                <div class="col">
                                    <label for="exampleInputEmail6">Pan Number</label>
                                    <input class="form-control" id="pan_number" name="pan_number" type="text"
                                          readonly value="{{data.pan_number}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Rationcard Number</label>
                                    <input class="form-control" id="rationcard_number" name="rationcard_number"
                                          readonly type="text" value="{{data.rationcard_number}}">
                                </div>

                                <div class="col">
                                    <label for="exampleInputEmail6">Profession</label>
                                    <input class="form-control" id="profession" name="profession" required type="text"
                                         readonly  value="{{data.profession}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Contact Number</label>
                                    <input class="form-control" id="contact_number" name="contact_number" required
                                         readonly  type="text" value="{{data.contact_number}}">
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">


                                <div class="col">
                                    <label for="exampleInputEmail6">Education</label>
                                    <input class="form-control" id="education" name="education" required type="text"
                                         readonly  value="{{data.education}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">City</label>
                                    <input class="form-control" id="City" name="city" required type="text"
                                         readonly  value="{{data.city}}">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail6">Email ID</label>
                                    <input class="form-control" id="email_id" name="email_id" type="email"
                                         readonly  value="{{data.email_id}}">
                                </div>
                                <div class="col">
                                    <label class="custom-file-label" for="customFile">Upload Image</label>
                                    <input class="form-control" id="upload_image" readonly required type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section pt-0" style="padding-bottom:15px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="row align-items-center">
                                <div class="col-3">
                                    <label class="custom-file-label" for="customFile">Upload Idproof</label>
                                    <input class="form-control" id="upload_idproof" readonly required type="file">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <button class="btn btn-primary" id="editButton" type="button">Edit</button>
                        <button class="btn btn-primary" id="" type="button">Cancel</button>
                        <button class="btn btn-primary" id="updateButton" style="display:none" type="submit">Update
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!-- End of Section -->

</main>


{% endblock content %}


