{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <div class="section section-md pb-0">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col">
                        <h2 class="h5"></h2>
                    </div>
                </div>
                <!-- End of Title -->
            </div>
        </div>
        <div class="row">
<form action="/update_client_data/{{data.client_uniqueid}}"  method= "POST">{% csrf_token %}
        <!-- Section -->
    <input type="hidden" value="{{data.client_uniqueid}} name="client_uniqueid">
        <div class="section section-md pt-0" style="padding-bottom:15px !important">
 <div class="container">

                <div class="row">
                   <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">First Name</label>
                            <input type="text" class="form-control" readonly name="fname" value="{{data.fname}}">
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Last Name</label>
                            <input type="text" class="form-control" readonly name="lname" value="{{data.lname}}">
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Aadhar Number</label>
                            <input type="text" class="form-control" readonly id="exampleInputIC" value="{{data.aadhar_number}}">
                            </div>
                             <div class="col">
                                 <label for="exampleInputEmail6">Contact Number</label>
                            <input type="text" class="form-control" readonly id="exampleInputcontact" value="{{data.contact_number}}">
                            </div>
                        </div>

                    </div>


                </div>
 </div>
        </div>
        <div class="section pt-0" style="padding-bottom:15px !important">
<div class="container">
     <div class="row">
                    <div class="col-12 ">

                        <div class="row align-items-center">
                            <div class="col">
                                 <label for="exampleInputEmail6">Profession</label>
                            <input type="text" class="form-control" readonly id="exampleInputprofession" value="{{data.profession}}">
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Email ID</label>
                            <input type="email" class="form-control" readonly id="exampleInputEmailID" value="{{data.email_id}}">
                            </div>
                            <div class="col">
                                 <label for="exampleInputEmail6">Education</label>
                            <input type="text" class="form-control" readonly id="exampleInputEducation" value="{{data.education}}">
                            </div>
                             <div class="col">
                                 <label for="exampleInputEmail6">City</label>
                            <input type="text" class="form-control" readonly id="exampleInputEmail6" value="{{data.city}}">
                            </div>
                        </div>

                    </div>
                    </div>
 </div>
        </div>

    <div class="container">
     <div class="row">
                    <div class="col-12 ">
                        <button type="button" id="editButton" class="btn btn-primary" >Edit</button>
                        <button type="button" id="" class="btn btn-primary" >Cancel</button>
                        <button type="submit" id="updateButton" style="display:none" class="btn btn-primary" >Update</button>
                    </div>
     </div>
    </div>

    </form>
        </div>
        <!-- End of Section -->

    </main>
{% if messages %}
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Terms of Service</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.</p>
                <p>The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as
                    soon as possible of high-risk data breaches that could personally affect them.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary">I Got It</button>
                <button type="button" class="btn btn-link text-danger ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if saved %}


{% endif %}

{% endblock content %}


